@font-face {
    font-family: CMU;
    src: url(fonts/cmunrm.otf);
}
@font-face {
    font-family: CMU;
    src: url(fonts/cmunti.otf);
    font-style: italic;
}

#nulpunktsContainer {
	display: inline-block;
}
#nulpunkter input {
	border: 0;
}
#nulpunkter input:focus {
	border: 0;
	outline: none;
}

input, svg {
	font-family: 'Times New Roman', 'Arial', 'Helvetica', serif;
}

.wrap {
	max-width: 1000px;
	margin: 3rem auto;
}

.label {
	margin-right: 0.5rem;
}

// Intervals
.interval {
	cursor: pointer;
	display: inline-block;
}
.interval input {
	width: 4rem;
	border: 0;
	border-bottom: 1px solid #999;
	text-align: center;
	outline: none;
}
input.functionInput {
	border: 0;
	border-bottom: 1px solid #999;
	outline: none;
	width: 1.5rem;
	text-align: center;
	font-style: italic;
}
#functionVariableContainer:before {
	content: "(";
}
#functionVariableContainer:after {
	content: ")";
}

.interval.left:before {
	content: "[";
}
.interval.left.open:before {
	content: "]";
}
.interval.left.infty:before {
	content: "] ∞";
}
.interval.left.infty input {
	display: none;
}

.interval.right:after {
	content: "]";
}
.interval.right.open:after {
	content: "[";
}
.interval.right.infty:after {
	content: "∞ [";
}
.interval.right.infty input {
	display: none;
}

a {
	cursor: pointer;
}

#svgContainer:hover #svg {
	border: 2px dashed black;
}
#svg {
	border: 2px solid transparent;
}
#svgContainer:hover #svgDragger {
	width: 10px;
	height: 10px;
	background-color: black;
	position: absolute;
	cursor: pointer;
}
#svgContainer {
	position: relative;
	margin-top: 2rem;
}

.italic {
	font-style: italic;
}