.global-wrapper{
	position: absolute;
	width: 100vw;
	height: calc(100vh - 33px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: white;
}
.toolbar{
	display: flex;
    justify-content: flex-end;
	padding: 8px 4px;
	border-bottom: 1px solid #ededed;
	background-color: #557ACE;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.toolbar ul{
	display: flex;
	list-style-type: none;
	align-items: center;
	margin: 0px;
}
.toolbar ul li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 7px;
	-webkit-app-region: no-drag;
	z-index: 10;
}
.toolbar ul li:nth-of-type(3){
	background-color: #FF6159;
}
.toolbar ul li:nth-of-type(2){
	background-color: #FFBE2E;
}
.toolbar ul li:nth-of-type(1){
	background-color: #28CA42;
}

#nulpunktsContainer {
	display: inline-block;
}
#nulpunkter input {
	border: 0;
}
#nulpunkter input:focus {
	border: 0;
	outline: none;
}

input, svg {
	font-family: 'Times New Roman', 'Arial', 'Helvetica', serif;
}

.wrap {
	max-width: 1000px;
	margin: 3rem auto;
}

.label {
	margin-right: 0.5rem;
}

.interval {
	cursor: pointer;
	display: inline-block;
}
.interval input {
	width: 4rem;
	border: 0;
	border-bottom: 1px solid #999;
	text-align: center;
	outline: none;
}
input.functionInput {
	border: 0;
	border-bottom: 1px solid #999;
	outline: none;
	width: 1.5rem;
	text-align: center;
	font-style: italic;
}
#functionVariableContainer:before {
	content: "(";
}
#functionVariableContainer:after {
	content: ")";
}

.interval.left:before {
	content: "[";
}
.interval.left.open:before {
	content: "]";
}
.interval.left.infty:before {
	content: "] ∞";
}
.interval.left.infty input {
	display: none;
}

.interval.right:after {
	content: "]";
}
.interval.right.open:after {
	content: "[";
}
.interval.right.infty:after {
	content: "∞ [";
}
.interval.right.infty input {
	display: none;
}

a {
	cursor: pointer;
}

#canvasContainer:hover #canvas {
	border: 2px dashed black;
}
#canvas {
	border: 2px solid transparent;
}
#canvasContainer:hover #canvasDragger {
	width: 10px;
	height: 10px;
	background-color: black;
	position: absolute;
	cursor: pointer;
}
#canvasContainer {
	position: relative;
	margin-top: 2rem;
}

.italic {
	font-style: italic;
}